body {
  padding-top: 70px;
}
.starter-template {
  padding: 40px 15px;
}

dt {
  padding-top: 10px;
}

.navbar-inverse {
  background-image: none;
  background-color: #1f3f5e;
}

.breadcrumb {
  background-color: #aab8c6;
}