<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: htmlhead" th:with="title='DSpace Spring Boot Testing'"></head>

<body>
    <div th:replace="layout :: navbar">(navbar)</div>
    
    <div class="container">
        <div class="starter-template">
            <!--/* Collection name */-->
            <h2 th:text="${name}">(Collection Name)</h2>
            
            <!--/* Display logo if one exists */-->
            <img th:if="${logo}" class="logo img-responsive" th:alt-title="${name} + ' logo'"  th:src="${logo}"/>

            <!--/* Display intro text if exists, as unescaped HTML */-->
            <p th:if="${intro}" th:utext="${intro}" class="intro-text">(intro text)</p>

            <!--/* List of Recent Submissions */-->
            <h3 th:unless="${#lists.isEmpty(recentSubmissions)}">Recent Submissions</h3>
            <ul th:each="item : ${recentSubmissions}">
                <li><a href="#" th:href="@{'/handle/' + ${item.handle}}" th:text="${item.name}">(Item Titles)</a></li>
            </ul>

            <h3 th:unless="${#lists.isEmpty(items)}">Items</h3>
            <div class="table-pagination">
                <!--/* Table of Items */-->
                <table class="table table-condensed table-hover table-pagination">
                    <tr th:each="item : ${items.pageList}">
                        <td><a href="#" th:href="@{'/handle/' + ${item.handle}}" th:text="${item.name}">(Item Titles)</a></td>
                    </tr>
                </table>
                <div th:text="'Showing page ' + ${items.page+1} + ' of ' + ${items.pageCount}">(Showing page 1 of 1)</div>
                <!--/* Pagination options, e.g. [Previous][1]..[Next] */-->
                <ul class="pagination pagination-centered">
                    <!--/* Previous button */-->
                    <li th:class="${items.page eq 0} ? 'disabled' : ''">
                        <a th:unless="${items.firstPage}" th:href="@{'/handle/' + ${collection.handle}(page=${items.page-1})}">Previous</a>
                        <a th:if="${items.firstPage}" href="javascript:void(0);">Previous</a>
                    </li>
                    <!--/* Numbered pages */-->
                    <li th:each="pageNo : ${#numbers.sequence(0, items.pageCount - 1)}" th:class="${items.page eq pageNo}? 'active' : ''">
                        <a th:if="${items.page eq pageNo}" href="javascript:void(0);">
                            <span th:text="${pageNo + 1}"></span>
                        </a>
                        <a th:unless="${items.page eq pageNo}" th:href="@{'/handle/' + ${collection.handle}(page=${pageNo})}">
                            <span th:text="${pageNo + 1}"></span>
                        </a>
                    </li>
                    <!--/* Next button */-->
                    <li th:class="${items.page + 1 ge items.pageCount} ? 'disabled' : ''">
                        <a th:unless="${items.lastPage}" th:href="@{'/handle/' + ${collection.handle}(page=${items.page+1})}">Next</a>
                        <a th:if="${items.lastPage}" href="javascript:void(0);">Next</a>
                    </li>
                </ul>
            </div>


        </div>
    </div>

    <div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>
