<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: htmlhead" th:with="title='DSpace Spring Boot Testing'"></head>

<body>
    <div th:replace="layout :: navbar">(navbar)</div>
    
    <div class="container">
        <div class="starter-template">
            <h1>DSpace HOMEPAGE</h1>
            <p class="lead">DSpace rocks</p>
            <h2>2. Test Spring Boot Setting (via application.properties)</h2>
            <p th:text="'Application Name: ' + ${applicationName}" />
            <h2>Context Path</h2>
            <p th:text="'contextpath: ' + ${path}" />

            <h2>4. Test Listing all DSpace top-level Communities</h2>
            <div th:each="comm : ${communities}">
                <p th:text="${comm.name}">Name</p>
            </div>
        </div>
    </div>
    
    
    <div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>
