<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: htmlhead" th:with="title='DSpace Spring Boot Testing'"></head>

<body>
    <div th:replace="layout :: navbar">(navbar)</div>
    
    <div class="container">
        <div class="starter-template">

            <div class="row">
                <!--/* Allow USER role to edit */-->
                <div sec:authorize="hasRole('ROLE_USER')" class="pull-right">
                    <form th:action="@{${itemModel.link} + '/edit'}" method="get">
                        <button type="submit" class="btn btn-default">Edit</button>
                    </form>
                </div>
                <!--/* Item Title */-->
                <h2 th:text="${itemModel.getMetadataFirstValue('dc.title')}">(Item Title)</h2>
                
                <!--/* Authors */-->
                <!--/* This defines a local variable named 'authors' and only displays its value if not null */-->
                <!--/* This statement is a bit uglier than it needs to be, but we need to look at BOTH dc.creator and dc.contributor.author */-->
                <div th:with="authors = ${itemModel.getMetadataValues('dc.creator')} ? ${itemModel.getMetadataValues('dc.creator')} : ${itemModel.getMetadataValues('dc.contributor.author')}">
                    <em>
                        <!--/* List of authors, separated by semicolons */-->
                        <th:block th:each="author,iterStat : ${authors}">
                            <!--/* If last object, don't add a comma after name. Otherwise, add a semi-colon */-->
                            <span th:if="${iterStat.last}" th:text="${author}">(Author Name)</span>
                            <span th:unless="${iterStat.last}" th:text="${author} + '; '">(Author Name);</span>
                        </th:block>
                    </em>
                </div>
            </div>

            <div class="row">
                <!-- Left Column -->
                <div class="col-sm-4">

                    <!-- Description List of metadata fields -->
                    <dl>
                        <!--/* File Listing */-->
                        <dt th:text="#{item.label.bitstreams}" th:unless="${#lists.isEmpty(bitstreams)}"></dt>
                        <dd th:each="bitstream : ${bitstreams}">
                           <a href="#" th:href="@{'/bitstream/' + ${itemModel.link} + '/' + ${bitstream.name}}" th:text="${bitstream.name}">(File Name)</a>
                        </dd>

                        <!--/* Issued Date (uses I18N) */-->
                        <!--/* This defines a local variable named 'date' and only displays its value if not null */-->
                        <th:block th:with="date = ${itemModel.getMetadataFirstValue('dc.date.issued')}">
                            <dt th:text="#{item.label.dc.date.issued}">(Date)</dt>
                            <dd th:text="${date}">(Date value)</dd>
                        </th:block>
                    </dl>
                </div>
                <!-- Right Column -->
                <div class="col-sm-6">
                    <!-- Description List of all other metadata fields -->
                    <dl style="padding-top:10px">
                        <!--/* Abstract */-->
                        <!--/* This defines a local variable named 'abstract' and only displays its value if not null */-->
                        <th:block th:with="abstract = ${itemModel.getMetadataFirstValue('dc.description.abstract')}">
                            <dt th:text="#{item.label.dc.description.abstract}" class="hidden">(Abstract)</dt>
                            <dd th:text="${abstract}">(Abstract text)</dd>
                        </th:block>

                        <!--/* URIs */-->
                        <!--/* Only display URIs if one or more exist */-->
                        <th:block th:with="uris = ${itemModel.getMetadataValues('dc.identifier.uri')}">
                            <dt th:text="#{item.label.dc.identifier.uri}">(URI)</dt>
                            <dd th:each="uri : ${uris}" th:text="${uri}">(URI value)</dd>
                        </th:block>

                        <!--/* Subjects */-->
                        <!--/* Only display Subjects if one or more exist */-->
                        <th:block th:with="subjects = ${itemModel.getMetadataValues('dc.subject')}">
                            <dt th:text="#{item.label.dc.subject}">(Subject)</dt>
                            <dd th:each="subject : ${subjects}" th:text="${subject}">(Subject value)</dd>
                        </th:block>
                    </dl>
                </div>
            </div>

        </div>
    </div>

    <div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>
