<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: htmlhead" th:with="title='DSpace Spring Boot Testing'"></head>

<body>
    <div th:replace="layout :: navbar">(navbar)</div>
    
    <div class="container">
        <div class="starter-template">

            <div class="row">
                <!--/* Item Title */-->
                <h2 th:text="${title}">(Item Title)</h2>
                <!--/* Authors */-->
                <!--/* This defines a local variable named 'authorFields' and only displays its value if not null */-->
                <div th:with="authorFields = ${itemService.getMetadata(item,'dc','creator','*','*')}">
                    <em>
                        <!--/* List of authors, separated by semicolons */-->
                        <th:block th:each="authorField,iterStat : ${authorFields}">
                            <!--/* If last object, don't add a comma after name. Otherwise, add a semi-colon */-->
                            <span th:if="${iterStat.last}" th:text="${authorField.value}">(Author Name)</span>
                            <span th:unless="${iterStat.last}" th:text="${authorField.value} + '; '">(Author Name);</span>
                        </th:block>
                    </em>
                </div>
            </div>

            <div class="row">
                <!-- Left Column -->
                <div class="col-sm-4">
                    <!-- Description List of metadata fields -->
                    <dl>

                        <!--/* Issued Date (uses I18N) */-->
                        <!--/* This defines a local variable named 'date' and only displays its value if not null */-->
                        <th:block th:with="date = ${itemService.getMetadataFirstValue(item,'dc','date','issued','*')}">
                            <dt th:text="#{item.label.dc.date.issued}">(Date)</dt>
                            <dd th:text="${date}">(Date value)</dd>
                        </th:block>

                    </dl>
                </div>
                <!-- Right Column -->
                <div class="col-sm-6">
                    <!-- Description List of all other metadata fields -->
                    <dl style="padding-top:10px">
                        <!--/* Abstract */-->
                        <!--/* This defines a local variable named 'abstract' and only displays its value if not null */-->
                        <th:block th:with="abstract = ${itemService.getMetadataFirstValue(item,'dc','description','abstract','*')}">
                            <dt th:text="#{item.label.dc.description.abstract}" class="hidden">(Abstract)</dt>
                            <dd th:text="${abstract}">(Abstract text)</dd>
                        </th:block>

                        <!--/* URIs */-->
                        <!--/* Only display URIs if one or more exist */-->
                        <th:block th:with="uriFields = ${itemService.getMetadata(item,'dc','identifier','uri','*')}">
                            <dt th:text="#{item.label.dc.identifier.uri}">(URI)</dt>
                            <dd th:each="uriField : ${uriFields}" th:text="${uriField.value}">(URI value)</dd>
                        </th:block>

                        <!--/* Subjects */-->
                        <!--/* Only display Subjects if one or more exist */-->
                        <th:block th:with="subjectFields = ${itemService.getMetadata(item,'dc','subject','*','*')}">
                            <dt th:text="#{item.label.dc.subject}">(Subject)</dt>
                            <dd th:each="subjectField : ${subjectFields}" th:text="${subjectField.value}">(Subject value)</dd>
                        </th:block>
                    </dl>
                </div>
            </div>

        </div>
    </div>

    <div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>
