<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: htmlhead" th:with="title='DSpace Spring Boot Testing'"></head>

<body onload="document.form.username.focus();">
    <div th:replace="layout :: navbar">(navbar)</div>
    
    <div class="container">
        <div class="starter-template">
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-info" role="alert">
                You have been logged out.
            </div>
            <h2>Sign In with Username and Password</h2>
            <form name="form" th:action="@{/login}" method="POST" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <input type="submit" value="Sign In" class="btn btn-primary"/>
                    </div>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <br/>
            <div class="text-muted col-sm-offset-2 col-sm-6">
                HINT: There's just two accounts right now (both with a password of 'dspace'):
                <ul>
                    <li class="text-muted">'user' has a USER role</li>
                    <li class="text-muted">'admin' has an ADMIN role</li>
                </ul>
            </div>
        </div>
    </div>
    
    
    <div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>
